
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
#formcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid red;
    padding: 2rem;
    background-color: blanchedalmond;
}

button {
    font-size: 1.5rem;
    background-color: brown;
    margin: 1rem;
    padding: .5rem;
    color: white;
    box-shadow: 0 .5px white ;
}
button:hover {
    background-color: white;
    color: brown;
    cursor: pointer;
}

button:active {
    box-shadow: 0 0px white;
    transform: translateY(.5px);
}

input {
    height: 1.5rem;
    width: 15rem;
    font-size: 1.5rem;
    padding: .5rem;
}

h3 {
    margin-top: .5rem;
}
label {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}